


body {
    text-align: center;
    /*font-family: 'Avenir-Light';*/
    font-family: 'Raleway', 'Avenir-Light';
    font-size: 18px;
    background-color: rgb(245, 245, 245);
}


/*********************************/

/* forms */

.form-box-size {
    margin-top: -10px;
    display: inline-block;
    min-width: 250px;
    
}

div.error {
    text-align: center;
    color: orangered;
}

.form-box {
    padding: 10px;
}

.thanks {
    font-size: 28px;
    color: rgb(44, 44, 44);
    font-weight: bolder;
}

.note-text {
    display: inline-block;
    margin-top: 0px;
    max-width: 270px;
    color: rgb(134, 134, 134);
    font-size: 13px;
}

.thanks-text {
    margin-top: -5px;
    margin-bottom: -25px;
    padding: 20px;
    color: rgb(101, 202, 143);
    font-size: 15px;
}

.header-text {
    font-weight: bolder;
    font-size: 28px;
}

.tagline-text {
    margin-top: -5px;
    padding: 20px;
    color: rgb(77, 77, 77);
    font-size: 15px;
}

.form-control {
    text-align: left;
    padding: 24px 10px 24px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.content {
    margin-top: 40px;
    text-align: center;
}

.form-style { 
    font-weight: 100;
    color: rgb(153, 153, 153);
    border: 2px;
    font-size: 20px;
    text-align: left;
}

.content input[type='text'],
.content input[type='email'],
.content input[type='password'],
.content input[type='tel'],
.content input[type='date'],
.content input[type='number'],
.content select {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    height: 35px;
    border-radius: 3px;
    border: none;
    padding:10px;
}

.button {
    margin-top: 0px;
    width: 250px;
    border: none;
    border-radius: 50px;
    height:70px;
    color: white;
    background-color: rgb(214, 103, 73);
}

.button:hover {
    background-color: rgb(255, 150, 122);
}

.submit {
    margin-top: -20px;
    width: 250px;
    border: none;
    border-radius: 50px;
    height:70px;
    color: white;
    background-color: rgb(214, 103, 73);
}

.submit a {
    color:white;
}

.submit:hover {
    background-color: rgb(255, 150, 122);
}

.submit a:hover {
    text-decoration: none;
}

/***************/

/* Spacing helpers */

.spacer-100{
    height:100px;
}
.spacer-80{
	height:80px;
}
.spacer-70{
	height:70px;
}
.spacer-60{
	height:60px;
}
.spacer-50{
	height:50px;
}
.spacer-40{
	height:40px;
}
.spacer-35{
	height:35px;
}
.spacer-30{
	height:30px;
}
.spacer-20{
	height:20px;
}
.spacer-15{
	height:15px;
}
.spacer-10{
	height:10px;
}
